* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calculator {
  width: 100%;
  max-width: 380px;
  background: #1e1e1e;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.calculator h1 {
  text-align: center;
  color: white;
  margin-bottom: 15px;
}

.display {
  width: 100%;
  height: 70px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 15px;
  font-size: 26px;
  text-align: right;
  background: #333;
  color: white;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.buttons button {
  height: 60px;
  width: 100%;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  background: #2d2d2d;
  color: white;
}

.buttons button:hover {
  background: #ff9800;
  transform: scale(1.05);
}


.zero {
  grid-column: span 2;
}

@media (max-width: 500px) {

  .calculator {
    max-width: 95%;
    padding: 15px;
    border-radius: 15px;
  }

  .display {
    font-size: 22px;
    height: 60px;
  }

  .buttons {
    gap: 10px;
  }

  .buttons button {
    height: 50px;
    font-size: 18px;
  }
}

@media (max-width: 350px) {

  .display {
    font-size: 18px;
  }

  .buttons button {
    height: 45px;
    font-size: 16px;
  }
}